<!DOCTYPE html>
<html>
<head></head>
<body style="width:700px;margin:0 auto;text-align:center">
    <div><h1 align="center">Welcome to the Sentiment Analysis Prediction Service</h1></div>
    <div style="width:700px;margin:0 auto;text-align:center">
        This is an example of a machine learning model Sentiment Analysis.
    </div>
    <div>
        <form align="center" method="POST">
            <input style="width:400px" name="text">
            <input type="submit">
        </form>
    </div>
    <p align="center">{{ submission }}</p>
    <h2 align="center">{{ text }}</h2>
</body>
</html>
